* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body,
html {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;

}

@keyframes animatedBorder {
    from {
        --rotate: 0deg;
    }

    to {
        --rotate: 360deg;
    }
}



.card {
    max-width: 300px;
    border-radius: 1rem;
    color: whitesmoke;
    padding-inline: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: all ease .5s;
    animation: animatedBorder 3s linear infinite;
    animation-play-state: paused;
    border: 0px solid rgba(0, 0, 0, 0);
    flex-shrink: 0;

    h1 {
        white-space: nowrap;
    }



    &:hover {
        box-shadow: 0 0 60px red;
        background: linear-gradient(rgb(0, 0, 0)) padding-box,
            conic-gradient(from var(--rotate), black, red, black) border-box;
        border: 5px solid rgba(0, 0, 0, 0);
        animation-play-state: running;
        color: rgb(245, 59, 59);
        text-shadow: 0 0 40px red;
        transform: translateY(-10px);
    }


    img {
        width: 100%;
        object-fit: cover;
    }
}

.card-1 {
    transform: perspective(800px) rotateY(30deg);
      img {
        max-height: 300px;
        padding-top: 1rem;
        object-fit: cover;
    }

    &:hover {
        box-shadow: 0 0 60px green;
        background: linear-gradient(rgb(0, 0, 0)) padding-box,
            conic-gradient(from var(--rotate), black, green, black) border-box;
        border: 5px solid rgba(0, 0, 0, 0);
        animation-play-state: running;
        color: green;
        text-shadow: 0 0 40px green;
    }
}

.card-3 {
    transform: perspective(800px) rotateY(-30deg);


    &:hover {
        box-shadow: 0 0 60px blue;
        background: linear-gradient(rgb(0, 0, 0)) padding-box,
            conic-gradient(from var(--rotate), black, blue, black) border-box;
        border: 5px solid rgba(0, 0, 0, 0);
        animation-play-state: running;
        color: rgb(47, 47, 239);
        text-shadow: 0 0 40px blue;
    }

    img {
        max-height: 300px;
        padding-top: 1rem;
        object-fit: cover;
    }
}